.navbar {
  padding: 15px;
  font-size: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3; }
  .navbar .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: white; }
    .navbar .top-bar .cart {
      font-size: 26px;
      transition: opacity 0.3s;
      cursor: pointer;
      order: 2;
      position: fixed;
      background-color: #9d6327;
      height: 45px;
      width: 45px;
      bottom: 15px;
      right: 15px;
      color: white;
      border-radius: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center; }
      .navbar .top-bar .cart.no-items {
        opacity: 0.85; }
      .navbar .top-bar .cart:hover {
        color: #9d6327;
        opacity: 1; }
    .navbar .top-bar .logo {
      order: 1; }
    .navbar .top-bar .user {
      font-size: 14px;
      display: none;
      order: 3; }
      .navbar .top-bar .user .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 10px; }
      .navbar .top-bar .user p {
        margin: 0; }
    .navbar .top-bar .menu-toggle {
      order: 3;
      font-size: 30px;
      margin-top: -3px; }
  .navbar .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    padding-top: 90px; }
    .navbar .menu.active {
      pointer-events: auto;
      opacity: 1; }
    .navbar .menu ul {
      list-style-type: none;
      padding-left: 15px; }
      .navbar .menu ul li {
        padding-bottom: 20px; }
        .navbar .menu ul li a {
          text-decoration: none;
          color: inherit; }
          .navbar .menu ul li a.active, .navbar .menu ul li a:hover {
            border-bottom: 1px solid; }
  @media (min-width: 768px) {
    .navbar {
      text-align: center;
      font-size: 16px; }
      .navbar .top-bar .cart {
        order: 1;
        position: relative;
        height: auto;
        width: auto;
        color: initial;
        background-color: transparent;
        bottom: auto;
        right: auto; }
      .navbar .top-bar .logo {
        order: 2; }
      .navbar .top-bar .user {
        display: flex;
        justify-content: center;
        align-items: center; }
      .navbar .top-bar .menu-toggle {
        display: none; }
      .navbar .menu {
        display: block;
        position: initial;
        opacity: 1;
        padding-top: 5px;
        pointer-events: auto; }
        .navbar .menu ul {
          padding: 0 60px;
          display: flex;
          justify-content: space-between;
          max-width: 800px;
          margin: 0 auto; }
          .navbar .menu ul li {
            padding: 0; } }
