// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.social-panel {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;

	.sticky {
		position: sticky;
		top: 0;
		right: 0;
		z-index: 2;
		height: 100vh;
		padding-right: 15px;
		display: none;
		align-self: flex-start;

		// 768px and up
		@include min-width-up(w768) {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		}

		// 1024px and up
		@include min-width-up(w1024) {
			padding-right: 30px;
		}

		.social {
			color: white;
			height: 30px;
			width: 30px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			transition: transform 1s ease-out;
			transform-origin: center;
			cursor: pointer;

			&:hover {
				transform: rotate(360deg);
			}

			&:after {
				border-radius: 50%;
				content: '';
				display: block;
				background-color: $gold;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.fab {
				position: relative;;
				z-index: 1;
			}
		}
	}
}