// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.homepage {
	.main {
		margin-top: 120px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	    overflow-y: hidden;
	    overflow: visible;

		// slider
		.promo-carousel {
			// 768px and up
			@include min-width-up(w768) {
				position: sticky;
				top: 125px;
				align-self: flex-start
			}
		}

		.promo-container {
			padding: 30px 0;

			& > h3 {
				margin-bottom: 45px;

				// 768px and up
				@include min-width-up(w768) {
					margin-left: 30px;
				}

				// 1024px and up
				@include min-width-up(w1024) {
					margin-left: 0px;
				}
			}
		}

		// shape
		.triangle-shape {
			position: absolute;
			right: 0;
			margin-top: -360px;
			z-index: -1;

			// 768px and up
			@include min-width-up(w768) {
				z-index: 1;
			}
		}
	}
}