.clothes {
  position: relative;
  overflow: hidden; }
  .clothes .banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(50vh - 99px);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-end;
    position: relative;
    overflow: hidden; }
    .clothes .banner .title-subtitle {
      padding-bottom: 30px; }
    .clothes .banner img {
      margin-right: -50px;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0; }
  .clothes .main {
    margin-bottom: 30px; }
    .clothes .main .social-panel {
      position: fixed;
      bottom: 0; }
    .clothes .main .product-list {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap; }
  .clothes .triangle-parallax {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s ease-in-out; }
    .clothes .triangle-parallax.right {
      bottom: -60%;
      right: 0;
      left: initial;
      transition-delay: 0.05s; }
  @media (min-width: 768px) {
    .clothes .banner {
      background-attachment: fixed; }
      .clothes .banner .title-subtitle {
        max-width: 50%; }
    .clothes .main {
      margin-bottom: 60px; }
      .clothes .main .product-list {
        margin-bottom: 60px; } }
  @media (min-width: 1024px) {
    .clothes .main .product-list {
      margin-top: 60px; } }
  @media (min-width: 1260px) {
    .clothes .banner {
      height: calc(70vh - 125px);
      background-attachment: fixed; }
      .clothes .banner .title-subtitle {
        max-width: 75%; } }
