// Variables
@import 'src/style/vars';
// Mixins
@import 'src/style/grid/grid-mixins';

.clothes {
	position: relative;
	overflow: hidden;

	.banner {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: calc(50vh - 99px;);
		display: flex;
		justify-content: space-between;
		color: white;
		align-items: flex-end;
		position: relative;
		overflow: hidden;;

		.title-subtitle {
			padding-bottom: 30px;
		}

		img {
			margin-right: -50px;
			height: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	.main {
		margin-bottom: 30px;

		.social-panel {
			position: fixed;
			bottom: 0;
		}

		.product-list {
			margin-top: 30px;
			margin-bottom: 30px;
			display: flex;
			flex-wrap: wrap;

		}
	}

	.triangle-parallax {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: 0.5s ease-in-out;

		&.right {
			bottom: -60%;
			right: 0;
			left: initial;
			transition-delay: 0.05s;
		}
	}

	// 768px and up
	@include min-width-up(w768) {
		.banner {
			background-attachment: fixed;

			.title-subtitle {
				max-width: 50%;
			}
		}

		.main {			
			margin-bottom: 60px;

			.product-list {
				margin-bottom: 60px;
			}
		}
	}

	// 1024px and up
	@include min-width-up(w1024) {
		.main {			
			.product-list {
				margin-top: 60px;
			}
		}
	}

	// 1260px and up
	@include min-width-up(w1260) {
		.banner {
			height: calc(70vh - 125px);
			background-attachment: fixed;

			.title-subtitle {
				max-width: 75%;
			}
		}
	}
}