// Variables
@import '../vars';
// Mixins
@import 'grid-mixins';

* {
	box-sizing: border-box;
}

// main columns
@for $i from 0 through 16 {

	// make columns
	.col-#{$i} {
		flex: 0 0 100%;
		max-width: 100%;

		@include min-width-up(w768) {
			@include make-col($i, 16);
		}
	}

	// offset for mobile
	.offset-#{$i} {
		// full offset columns 768px and up
		@include min-width-up(w768) {
			@include make-col-offset($i, 16);
		}
	}
}

// xs columns
@for $i from 0 through 16 {
	// columns for mobile

	// make columns
	.col-#{$i}-xs {
		@include make-col($i, 16);
	}

	// offset for mobile
	.offset-#{$i}-xs {
		// full offset columns 0 and up		
		@include make-col-offset($i, 16);
	}
}

// w768 columns
@for $i from 0 through 16 {
	// columns for mobile

	// make columns
	.col-#{$i}-w768 {
		@include min-width-up(w768) {
			@include make-col($i, 16);
		}
	}

	// offset for mobile
	.offset-#{$i}-w768 {
		// full offset columns 768px and up
		@include min-width-up(w768) {
			@include make-col-offset($i, 16);
		}
	}
}

// w1024 columns
@for $i from 0 through 16 {
	// columns for mobile

	// make columns
	.col-#{$i}-w1024 {
		@include min-width-up(w1024) {
			@include make-col($i, 16);
		}
	}

	// offset for mobile
	.offset-#{$i}-w1024 {
		// full offset columns 768px and up
		@include min-width-up(w1024) {
			@include make-col-offset($i, 16);
		}
	}
}