// Variables
@import '../vars';

// Columns
@mixin make-col($size, $columns) {
	flex: 0 0 percentage($size / $columns);
	max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns) {
	$num: $size / $columns;

	margin-left: if($num == 0, 0, percentage($num));
}

// Breakpoints
@mixin min-width-up($breakpoint) { 
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: #{map-get($grid-breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @content;
  }
}