.carousel.promo-carousel h1, .carousel.promo-carousel h2 {
  color: white !important; }

.carousel.promo-carousel .carousel__slider .slide-inner:after {
  background: linear-gradient(200deg, rgba(157, 99, 39, 0) 25%, #9d6327 100%); }
  @media (min-width: 768px) {
    .carousel.promo-carousel .carousel__slider .slide-inner:after {
      background: linear-gradient(-45deg, rgba(157, 99, 39, 0) 0%, #9d6327 90%); } }

.carousel .carousel__slider {
  height: calc(100vh - 99px);
  overflow: hidden; }
  @media (min-width: 768px) {
    .carousel .carousel__slider {
      height: calc(100vh - 125px); } }
  .carousel .carousel__slider .slide-inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: flex-end;
    height: calc(100vh - 99px);
    cursor: pointer; }
    @media (min-width: 768px) {
      .carousel .carousel__slider .slide-inner {
        height: calc(100vh - 125px); }
        .carousel .carousel__slider .slide-inner.align-top-w768 {
          align-items: start; } }
    .carousel .carousel__slider .slide-inner img {
      display: none; }
    .carousel .carousel__slider .slide-inner .title-subtitle {
      position: relative;
      z-index: 1;
      color: black; }
      .carousel .carousel__slider .slide-inner .title-subtitle h1 {
        color: #9d6327; }
    .carousel .carousel__slider .slide-inner:after {
      content: '';
      display: block;
      background: linear-gradient(200deg, rgba(255, 255, 255, 0) 25%, white 100%);
      height: 100%;
      width: 100%;
      position: absolute;
      transition: opacity 0.7s; }
      @media (min-width: 768px) {
        .carousel .carousel__slider .slide-inner:after {
          opacity: 0;
          background: linear-gradient(-88deg, rgba(255, 255, 255, 0) 0%, white 90%); } }
    .carousel .carousel__slider .slide-inner:hover:after {
      opacity: 1; }
